<style>
  .myfooterstyle {
    box-shadow: 0 0 10px #4b515685;
    margin-top: auto;
    
  }
  .myfooterstyle div{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .myfooterstyle div p{
    margin: 0;
  }
  .mylinkstyle {
    text-decoration: none;
  }
</style>
<footer class="bg-light text-center myfooterstyle">
  <!-- Copyright -->
  <div class="text-center p-1" >
    <p>
      &copy; 2022 Copyright :
      <a class="mylinkstyle" target="_blank" href="https://github.com/yahay05">
        github.com/yahay05
      </a>
    </p>
  </div>
  <!-- Copyright -->
</footer>
