{% extends "base.html" %}

{% block content %}
		<div class="container text-center" >
			<div class="header mt-5 mb-5">
				<h1>About Us</h1>
			</div><!-- end header-->
			<div class="intro column">
				<h2>Introduction</h2>
				<p>
					I am a 28 year old finnish web developer with science and art background. I love to spend my free time renovating my home, playing and going on long walks with my dog. I love scifi and fantasy literature and
					series. 
				</p>
			</div><!-- end intro-->
			<div class="main-text">
				<h3>More About Us</h3>
				<p>
					I have studied chemistry but have always been interested in web development. I was 10 years old when I made my first web page with HTML and CSS. While I was studying in the university I took computer science  as my minor subject and was introduced to programming. During my studies I was an active member in student associations and became responsible for all kinds of tasks and projects including being a web master. That and my previous interest in web development created a spark to turn my hobby into a career. I took my first steps towards my new career in January 2017.
				</p>
				<p>
					I'm highly energetic and motivated person and I love to work as a member or a leader of a team. I especially enjoy working with changing projects and taking them forward with rapid pace but high precision. I am talkative and sociable but also known for getting "in the zone" while concentrating on detailed work like programming or designing.
				</p>
			</div><!-- end main-text-->
		</div><!--end container-->
{% endblock content %}